.navbar
{
    background-color: #d7fdfe;
    /* background-color: #00cc66; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 17%;
}

.logo
{
    /* background-color: #00aaff; */
    position: absolute;
    left: 6%;
    top: 4%;
    width: 8lh;
    height: 100%;
}

.searchBar
{
    position: absolute;
    left: 45%;
    transform: translate(-50%, -50%);
    top: 70%;
    /* border: solid 1pt red; */
    width: 30%;
}

.searchBar form input
{
    width: 100%;
    border-radius: 17px;
    font-size: 13pt;
    padding: 8px;
    outline: 0;
    border: 2px solid #ca95f3;
    background-color: white;
}

body
{
    background-color: #0072ce;
}

.summary,
.careplan,
.identifiers
{
    background-color: #f5f5f5;
    /* filter: drop-shadow(black 3px 5px 6px); */
    border: solid black 1px;
}

.identifiers
{
    position: absolute;
    left: 0;
    top: 17%;
    height: 83%;
    width: 20%;
}

.fullname,
.id,
.dob,
.age,
.sex,
.race,
.dead,
.address,
.allergies
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14pt;
}

.fullname
{
    top: 20%;
    font-size: 20pt;
    font-weight: bold;
}

.id
{
    top: 24%;
}

.dob
{
    top: 30%;
}

.age
{
    top: 32.5%;
}

.sex
{
    top: 35.5%;
}

.race
{
    top: 40%;
    text-align: center;
}

.dead
{
    top: 10%;
    font-size: 18pt;
    width: 75%;
    text-align: center;
    font-weight: bold;
    color: red;
}

.address
{
    top: 49%;
    width: 75%;
    text-align: center;
} 

.allergies
{
    top: 62%;
    width: 75%;
    text-align: center;
}

.allergies mheader
{
    font-size: 16pt;
}

bold
{
    font-weight: bold;
}

.summary
{
    /* background-color: #f5f5f5; */
    position: absolute;
    top: 17%;
    left: 20%;
    height: 83%;
    width: 50%;
}

.careplan
{
    /* background-color: #333333; */
    position: absolute;
    top: 17%;
    right: 0;
    height: 83%;
    width: 30%;
}

.medications
{
    position: absolute;
    left: 3%;
    font-size: 22pt;
    width: 100%;
}

.dropDown
{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);

}

.dropDown span
{
    display: block;
    width: 14px;
    height: 14px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(-45deg);
    margin: -10px;
    cursor: pointer;
}
.medications mheader
{
    position: absolute;
    top: 20%;
}

.currentMeds
{
    position: absolute;
}

.currentMeds table
{
    padding-top: 10px;
    font-size: 14pt;
    text-align: left;
    display: inline-block;
}

.currentMeds table tr td
{
    padding-right: 20px;
}

.center
{
    text-align: center;
}

.pastMed
{
    opacity: 0;
}


